<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cristhIAn</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
   
<!-- Inicio de cabecera  -->
<header>
    <div class="container">
        <div class="row">
            <div class="brand-name">
                <a href="" class="logo">cristhIAn</a>
            </div>
            <div class="ham-burger">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="#home" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Fin de cabecera -->

<!-- Inicio de Home  -->
<section class="home" id="home">
    <div class="container"></div>
    <div class="row full-screen">
        <div class="home-content">
            <div class="block">
                <h6>Hello, My name is</h6>
                <h1>Cristhian Wiki</h1>
                <h3>A.I. Researcher</h3>
                <div class="cv-btn">
                    <a href="">Download CV</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fin de Home  -->

<!--Inicio About  -->
<section class="about-me" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1 class="">About Me</h1>
                <p class="small text-uppercase">
                    Informations About Me
                </p>
            </div>
        </div>
        <div class="row">
            <div class="about-content">
                <div class="row">
                    <div class="img">
                        <img src="{{url_for('static', filename='images/about-me.jpeg')}}" alt=""/>
                    </div>
                    <div class="text">
                        <h4>I'm Cristhian Wiki</h4>
                        <h6>
                            A <span>Artificial Intelligence</span> researcher with an interest in <span>Neoromorphic Computing</span>.
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, veritatis!
                        </p>
                        <div class="info">
                            <div class="list">
                                <label for="">Birthday:</label>
                                <p>
                                    8th June 1998
                                </p>
                            </div>
                            <div class="list">
                                <label for="">Email:</label>
                                <p>
                                    csanchezs@uni.pe
                                </p>
                            </div>
                            <div class="list">
                                <label for="">Nationality:</label>
                                <p>
                                    Peruvian
                                </p>
                            </div>
                            <div class="list">
                                <label for="">University:</label>
                                <p>
                                    National University of Engineering
                                </p>
                            </div>
                            <div class="list">
                                <label for="">Residence:</label>
                                <p>
                                    Lima, Peru
                                </p>
                            </div>
                            <div class="list">
                                <label for="">Phone:</label>
                                <p>
                                    +51 924130271
                                </p>
                            </div>
                            <div class="list">
                                <label for="">Undergraduate:</label>
                                <p>
                                    Computer Science
                                </p>
                            </div>
                            <div class="list">
                                <label for="">Freelance:</label>
                                <p>
                                    Not available
                                </p>
                            </div>
                           <!--Links sociales-->
                            <div class="social-links">
                                <a href="https://facebook.com/26HSZK16isTime"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/HiroCharlie"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/soldadito2x/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/cristhian-wiki-s%C3%A1nchez-sau%C3%B1e-400320190/"><i class="fa fa-linkedin"></i></a>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Fin About  -->

<!--Inicio de servicios-->
<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1 class="">My Services</h1>
            </div>
        </div>
        <div class="row">
            <div class="service-content">
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <h5>
                            Smart Solutions    
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ab?</p>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-wpexplorer"></i>
                        </div>
                        <h5>
                            Research Advice    
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ab?</p>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-group"></i>
                        </div>
                        <h5>
                            Teamwork   
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ab?</p>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-eye"></i>
                        </div>
                        <h5>
                            Supervising Junior Staff and Technicians   
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ab?</p>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <h5>
                            Writing Research Papers   
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ab?</p>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <h5>
                            Recording and Analysing Data    
                        </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ab?</p>
                    </div>
                </div>
        </div>
    </div>
</section>
<!--Fin de servicios-->

<!--Inicio de Habilidades-->
<section class="skills">
    <div class="container">
        <div class="row align-items-center">
            <div class="skills-content">
                <div class="row">
                    <div class="section-title">
                       <h1 class="">Professional Skills</h1> 
                       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolor ea repellendus dolorum similique laborum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="skill-box">
                        <h6 class="">Keras and Tensorflow</h6>
                        <div class="skill-bar">
                            <div class="skill-bar-in" style="width:90%">
                                <span>
                                    90%
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-box">
                        <h6 class="">Pytorch</h6>
                        <div class="skill-bar">
                            <div class="skill-bar-in" style="width:80%">
                                <span>
                                    80%
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-box">
                        <h6 class="">Scikit Learn</h6>
                        <div class="skill-bar">
                            <div class="skill-bar-in" style="width:95%">
                                <span>
                                    95%
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-box">
                        <h6 class="">Caffe</h6>
                        <div class="skill-bar">
                        <div class="skill-bar-in" style="width:60%">
                                <span>
                                    60%
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-box">
                        <h6 class="">Theano</h6>
                        <div class="skill-bar">
                            <div class="skill-bar-in" style="width:50%">
                                <span>
                                    50%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img">
                <img src="{{url_for('static', filename='images/skill.jpg')}}" alt="skill">
            </div>
        </div>
    </div>
</section>
<!--Fin de Habilidades-->

<!--Inicio de portafolio de trabajo-->
<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>Latest Works</h1>
            </div>
        </div>
        <div class="row">
            <div class="filter-buttons">
                <ul id="filter-btns">
                    <li class="active" data-target="all">
                        All
                    </li>
                    <li data-target="Deep Learning">Deep Learning</li>
                    <li data-target="NLP">NLP</li>
                    <li data-target="Reinforced Learning">Reinforced Learning</li>
                    <li data-target="Computer Vision">Computer Vision</li>
                    <li data-target="Cognitive Computing">Cognitive Computing</li>
                    <li data-target="Disclosure">Disclosure</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-gallery">
                <div class="item" data-id="Deep Learning">
                    <div class="inner">
                        <img src="{{url_for('static', filename='images/portfolio/1.jpg')}}" alt="portfolio"/>
                        <div class="overlay">
                            <span class="fa fa-plus"></span>
                            <h4>Deep Learning</h4>
                        </div>
                    </div>
                </div>
                <div class="item" data-id="NLP">
                    <div class="inner">
                        <img src="{{url_for('static', filename='images/portfolio/2.jpg')}}" alt="portfolio"/>
                        <div class="overlay">
                            <span class="fa fa-plus"></span>
                            <h4>NLP</h4>
                        </div>
                    </div>
                </div>
                <div class="item" data-id="Reinforced Learning">
                    <div class="inner">
                        <img src="{{url_for('static', filename='images/portfolio/3.jpg')}}" alt="portfolio"/>
                        <div class="overlay">
                            <span class="fa fa-plus"></span>
                            <h4>Reinforced Learning</h4>
                        </div>
                    </div>
                </div>
                <div class="item" data-id="Computer Vision">
                    <div class="inner">
                        <img src="{{url_for('static', filename='images/portfolio/4.jpg')}}" alt="portfolio"/>
                        <div class="overlay">
                            <span class="fa fa-plus"></span>
                            <h4>Computer Vision</h4>
                        </div>
                    </div>
                </div>
                <div class="item" data-id="Cognitive Computing">
                    <div class="inner">
                        <img src="{{url_for('static', filename='images/portfolio/5.jpg')}}" alt="portfolio"/>
                        <div class="overlay">
                            <span class="fa fa-plus"></span>
                            <h4>Cognitive Computing</h4>
                        </div>
                    </div>
                </div>
                <div class="item" data-id="Disclosure">
                    <div class="inner">
                        <img src="{{url_for('static', filename='images/portfolio/6.jpg')}}" alt="portfolio"/>
                        <div class="overlay">
                            <span class="fa fa-plus"></span>
                            <h4>Disclosure</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Fin de portafolio de trabajo-->

<!--Inicio texto del mensaje-->
<section class="message-text">
    <div class="container">
        <div class="row align-items-center">
            <div class="text">
                <h2>I'm passionate about Artificial Intelligence, I give my best in every project in this area.</h2>
            </div>
            <div class="button">
                <a href="">Get In Touch</a>
            </div>
        </div>
    </div>

</section>
<!--Fin texto del mensaje-->

<!--Inicio testimonios-->
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>Testimonials</h1>
            </div>
        </div>
        <div class="row">
            <div class="testimonials-content">
                <div class="testi-slider">
                    <div class="slide">
                        <div class="img">
                            <img src="{{url_for('static', filename='images/testimonial/1.png')}}" alt="testi">
                        </div>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, neque at, illo culpa distinctio quidem sed vero similique obcaecati aliquid blanditiis, ducimus sapiente ex quibusdam.
                            </p>
                            <h6>Brando Palacios</h6>
                            <p>Co-founder</p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="img">
                            <img src="{{url_for('static', filename='images/testimonial/2.png')}}" alt="testi">
                        </div>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, neque at, illo culpa distinctio quidem sed vero similique obcaecati aliquid blanditiis, ducimus sapiente ex quibusdam.
                            </p>
                            <h6>Diego Bayes</h6>
                            <p>Co-founder</p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="img">
                            <img src="{{url_for('static', filename='images/testimonial/3.png')}}" alt="testi">
                        </div>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, neque at, illo culpa distinctio quidem sed vero similique obcaecati aliquid blanditiis, ducimus sapiente ex quibusdam.
                            </p>
                            <h6>Brando Palacios</h6>
                            <p>Co-founder</p>                       
                        </div>
                    </div>
                    <div class="slide">
                        <div class="img">
                            <img src="{{url_for('static', filename='images/testimonial/4.png')}}" alt="testi">
                        </div>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, neque at, illo culpa distinctio quidem sed vero similique obcaecati aliquid blanditiis, ducimus sapiente ex quibusdam.
                            </p>
                            <h6>Diego Bayes</h6>
                            <p>Co-founder</p>
                        </div>
                    </div>
                </div>
                <!--Control de los slides-->
                <div class="slide-controls">
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--Fin Testitmonios testimonios-->


<!--Inicio de blogs-->
<section class="blogs" id="blog">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>Latest Blogs</h1>
            </div>
        </div>
        <div class="row">
            <div class="blogs-content">
                <div class="box">
                    <div class="img">
                        <img src="{{url_for('static', filename='images/blog/1.png')}}" alt="blog">
                    </div>
                    <div class="info">
                        <span>7 Ap 2020</span> <span>Disclosure</span>
                    </div>
                    <h3>
                        Change the world intelligently
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a href="">Read More</a>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{{url_for('static', filename='images/blog/2.webp')}}" alt="blog">
                    </div>
                    <div class="info">
                        <span>7 Ap 2020</span> <span>Disclosure</span>
                    </div>
                    <h3>
                        Towards General Artificial Intelligence
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a href="">Read More</a>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="{{url_for('static', filename='images/blog/3.jpg')}}" alt="blog">
                    </div>
                    <div class="info">
                        <span>7 Ap 2020</span> <span>Research</span>
                    </div>
                    <h3>
                        The ultimate connection between brain and computer
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Fin de blogs-->

<!--Inicio Contácteme--> 
<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>Get In Touch</h1>
            </div>
        </div>
        <div class="row">
            <div class="contact-form">
                <div class="row">
                    <div class="text">
                        <h2>Drop me a line</h2>
                        <p>I'm here to answer any question you may have</p>
                    </div>
                </div>
                <div class="row space-between">
                    <div class="col-6">
                        <input type="text" class="form-control" name="" placeholder="Name">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control" placeholder="Your Comment"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="button text-right">
                        <a href="">Send now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Fin Contácteme--> 

<!-- Inicio Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="logo">
                cristhIAn
            </div>
            <div class="social">
                <a href="https://facebook.com/26HSZK16isTime"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/HiroCharlie"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/soldadito2x/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/cristhian-wiki-s%C3%A1nchez-sau%C3%B1e-400320190/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/HiroForYou"><i class="fa fa-github"></i></i></a>
                <a href="https://www.youtube.com/channel/UCOanI46zMJIxd5C4K0t4LpA?view_as=subscriber"><i class="fa fa-youtube"></i></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Fin Footer-->

<!--Inicio copyright-->
<section class="copyright">
    <div class="container">
        <p>&copy; 2020 copyright all right reserved</p>
    </div>
</section>
<!--Fin copyright-->


<!--Inicio diseño móvil-->

<!--Fin diseño móvil-->
<!--Inicio Lightbox-->
<div class="lightbox hide">
    <span class="close-lightbox fa fa-close"></span>
    <img src="{{url_for('static', filename='images/portfolio/6.jpg')}}" alt="portfolio" />
</div>
<!--Fin Lightbox-->


<script src="{{url_for('static', filename='js/script.js')}}"></script>


</body>
</html>
